.header {
	background: url(/projects/oil-and-gas/img/og-header.png) center center no-repeat;
	background-size:contain;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	height:150px;
}
.footer {
	background: url(/projects/oil-and-gas/img/og-footer.png) center center no-repeat;
	background-size:contain;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	height:460px;
	margin-bottom:200px;
}

.header, .footer {
	opacity:0.4;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.container, .container-fluid {
		width:990px !important;
		padding: 0;
	}

.wrapper{
	width:990px;
	
	font-family: 'Open Sans', sans-serif;
	color: #58585a;
	
	h1 {
		font-family: 'Lato', sans-serif;
	}
	.hero {
		height:350px;
		margin: 10px 0;
		
		.hero-left, .hero-right {
			height:100%;
		}

		.hero-left{
			background:#032041;
			color:#fff;
			font-family: 'Lato', sans-serif;
			
			img {
				margin-top:15px;
			}
			
			.statement {
				margin-left:15px;
				max-width:85%;
				margin-top:30px;

				.line1, .line2 {
						text-transform:uppercase;
						font-weight:700;
				}

				.line1 {
					font-size:3em;
				}

				.line2 {
					font-size:2.3em;
					line-height:1em;
					margin-bottom:10px;
					display:inline-block;
				}
				p {
					font-weight:300;
				}
			}
		}

		.hero-right{
			background: url(/projects/oil-and-gas/img/og-heroDrill.png) no-repeat center center;
					background-size: cover;
			-webkit-background-size: cover;
			   -moz-background-size: cover;
		}

	}

	.tabs {
		margin:50px 0 0;
		text-align:center;
		font-family: 'Lato', sans-serif;
		font-weight:700;
		font-size:13px;
		height:50px;
		margin-bottom:50px;
		border-bottom:1px solid #ccc;
		position:relative;
		z-index: 1;
		
		 
		> div {
			cursor:pointer;
			position:relative;
			z-index: 5;
			border: 1px solid transparent;
			height:50px;
			line-height:50px;
		}

		.active {
		}
		.tab-bg {
			position:absolute;
			height:50px;
			z-index: 1;
			border:1px solid #ccc;
			background:#fff;
			left:0;
		}

		.tab-bg:after {
			content: '';
			 position: absolute;
			 top: 0px;
			 left: 0px;
			 right: 0px;
			 bottom: -15px;
			 background: #fff;
			 z-index: -1;
		}
	}

	.content-inner {
		height:1052px;
		section {
			display:none;
			position:absolute;
			
			p {
				padding: 10px 0;
			}

			.pic img {
				width:100%;
				margin-bottom:10px;
			}

			.pic img.max200 {
				height:200px;
			}

			.quote {
				font-weight:600;
				font-style: italic;
			}
		}
		
		.overview {
			display:block;

			

			.upper-row {
				.pic {
				padding-right: 15px;
				}

				p {
					padding:0 0 15px 15px;
				}
			}

			.bottom-row {
				.pic {
					padding-left: 15px;
				}
				p {
					padding-right:15px;
				}
			}
		
		}
	}

}

.pic-caption {
	font-size:12px;
	margin: 10px 0 25px;
	font-family: 'Lato', sans-serif;
}

.section-title {
	margin-bottom:15px;
	font-family: 'Lato', sans-serif;
	padding-right:0;
	padding-left:0;
}

.row2{
	margin:20px 0;
	padding:0;
}

.partners-row .col-md-3 {
	height:100px;
	padding: 0 20px;
	margin:0 auto;
}

.resources.container {
	.colwrap3 {
		width: 75%;
		margin:0 auto;
		
		img {width:100%;}
		.pic-caption {
			width:100%;
			margin:10px 0;
		}
	}
} 


.pagination {
	span {
		margin-left:10px;
		cursor:pointer;
	}
}

.products {
	ul {
		list-style-type:none;

		li {
			margin:10px 0;
		}
	}

	.statement {
		.line1 {
			font-size:3em;	
			text-transform:uppercase;
			font-weight:700;
		}
		.line2 {
			font-size:2em;
			line-height:0.5em;
			margin-bottom:10px;
			text-transform:uppercase;
			font-weight:700;
		}
	}

	.pic {
		padding:0;
	}
}

.contact {
	.contact-title {
		text-transform:uppercase;
		font-family: 'Lato', sans-serif;
	}

	.contact-img {
		padding-left:0;
	}

	ul {
		list-style-type:none;
		padding-left:0;

		li {
			margin: 15px 0;
			display:block;
		}
	}

	.contact-info {
		text-transform:uppercase;
		ul {
			li {
				margin:0;
				font-weight:600;
				font-size:0.85em;
			}
		}
	}

	.contact-form {
		.form {
			background:#efefef;
			color: #cbcbcb;
			text-transform:uppercase;
			padding:15px;
			margin:15px 0;

			
			.top {
				height:50px;
				background: #cbcbcb;

			}

			label {
				text-align:right;
				width:20%;
				position:relative;
				top:4px;
				font-weight:600;
			}
			input, textarea {
				width:75%;
				border:none;
				background: #cbcbcb;
				float: right;
			}

			label, input, textarea {
				margin-top:15px;
				color: #a1a1a1;
			}

			input {
				padding:5px;
			}

			button {
				margin-top:15px;
				background: #cbcbcb;
				border:none;
				color:#a1a1a1;
				text-transform:uppercase;
				padding: 2px 20px;
				min-width:20%;
			}
		}
	}
}

.slide-row {
	position:relative;
	height:301px;
	width:100%;
	overflow:hidden;

	.slide-row-p {
		position:absolute;
		height:301px;
		width:100%;
	}
	.slide-row-p2, .slide-row-p3 {
		left:100%;
		opacity:0;
	}
}


		hr {
			margin: 35px 0;
			border-top: 1px solid #ccc;
		}

		.row {
			margin:0;
		}