@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #58585a;
  background: #ffffff;
  min-width: 320px;
  position: relative; }
  body * {
    outline: none !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  body .well {
    border-radius: 0;
    border-width: 0 0 1px 0;
    box-shadow: none;
    -webkit-box-shadow: none; }
  body .kp {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  body .kpr {
    padding-right: 0 !important; }
  body .kpl {
    padding-left: 0 !important; }
  body .dropdown-menu {
    border-radius: 0;
    left: auto;
    border-color: #ccc;
    margin-top: 0;
    border-top-width: 0;
    box-shadow: none;
    -webkit-box-shadow: none; }
  body .popover {
    bottom: 0px !important;
    height: 160px;
    width: 300px;
    border-radius: 0;
    border-color: #ccc; }

.utility-bar {
  background: #001C3A;
  font-weight: 300;
  color: #fff;
  height: 28px;
  line-height: 28px;
  font-weight: 300;
  font-size: 0.9em;
  width: 100%;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  overflow: hidden; }
  .utility-bar ul.navbar-left {
    list-style-type: none;
    padding: 0; }
    .utility-bar ul.navbar-left li {
      display: inline-block;
      margin-right: 15px; }
      .utility-bar ul.navbar-left li a {
        color: #fff;
        text-decoration: none; }
  .utility-bar ul.navbar-right {
    list-style-type: none;
    padding: 0; }
    .utility-bar ul.navbar-right li {
      display: inline-block;
      margin-left: 15px;
      vertical-align: top; }
      .utility-bar ul.navbar-right li a {
        color: #fff;
        text-decoration: none; }

.utility-bar-shipto {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
  -o-text-overflow: ellipsis;
  /** Opera 9 & 10 **/ }

.header {
  position: fixed;
  left: 0;
  width: 100%;
  background: #f7f7f7;
  z-index: 1000;
  height: 200px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  border-radius: 0 !important; }
  .header h1 {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: url("/projects/header/img/hag-logo.png") no-repeat left center;
    background-size: contain;
    height: 100px;
    width: 265px;
    margin: 9px 0 0 0; }
  .header ul.logobar-nav {
    line-height: normal;
    list-style-type: none;
    padding-left: 0;
    padding-top: 66px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100px;
    margin-bottom: 9px; }
    .header ul.logobar-nav li {
      display: inline-block;
      margin-right: 25px; }
      .header ul.logobar-nav li a {
        font-size: 1.3em;
        color: #58585a; }
        .header ul.logobar-nav li a:hover {
          text-decoration: none; }
  .header .logo-row {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .header .prodbtn-row {
    overflow: hidden;
    height: 38px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .header .products-btn {
    height: 36px;
    overflow: hidden;
    padding-top: 7px;
    border-radius: 0; }
  .header .form-control {
    border-radius: 0;
    height: 36px; }
  .header ul.icons-row {
    list-style-type: none;
    padding-left: 0;
    text-align: right;
    height: 140px;
    padding-top: 112px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .header ul.icons-row li {
      display: inline-block;
      padding-left: 25px;
      position: relative; }
      .header ul.icons-row li a {
        color: #58585a;
        cursor: pointer; }
  .header .hamburgerIcon {
    width: 0;
    height: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    position: absolute;
    opacity: 0; }
  .header .search-row {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .header .search-row .open > .dropdown-toggle.btn-default, .header .search-row .btn-default.focus, .header .search-row .btn-default:focus {
      background-color: #fff !important;
      border-color: #ccc !important; }
    .header .search-row button {
      border-radius: 0;
      border-right-width: 0;
      height: 36px;
      color: #58585a; }
      .header .search-row button:hover {
        background-color: #fff !important;
        border-color: #ccc !important; }
      .header .search-row button:active {
        background-color: #fff !important;
        border-color: #ccc !important;
        box-shadow: none;
        -webkit-box-shadow: none; }
      .header .search-row button.search-submit-btn {
        border-width: 0;
        background-color: transparent;
        position: absolute;
        right: 0;
        top: 0; }
        .header .search-row button.search-submit-btn i {
          color: #999; }
        .header .search-row button.search-submit-btn:hover {
          background-color: transparent !important; }
  .header.shrink {
    height: 70px; }
    .header.shrink .utility-bar {
      height: 0; }
    .header.shrink .logo-row {
      width: 20%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .header.shrink h1 {
      font-size: 24px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      height: 50px;
      width: 165px;
      margin-top: 9px;
      margin-left: 60px; }
    .header.shrink ul.logobar-nav {
      padding-top: 9px;
      height: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .header.shrink .prodbtn-row {
      height: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .header.shrink .products-btn {
      height: 0;
      padding: 0;
      border-width: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .header.shrink .search-row {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      width: 63.333333%; }
    .header.shrink ul.icons-row {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      padding-top: 21px;
      height: 52px; }
    .header.shrink .hamburgerIcon {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      width: 50px;
      height: 50px;
      opacity: 1; }

.content {
  height: 2000px;
  /*just to get the page to scroll*/ }

.nav-icon {
  width: 30px;
  height: 45px;
  position: absolute;
  top: 20px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #58585a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.nav-icon span:nth-child(1) {
  top: 0px; }

.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
  top: 10px; }

.nav-icon span:nth-child(4) {
  top: 20px; }

.nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

body {
  padding-top: 69px; }

header {
  background: #f5b335;
  height: 59px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%; }

.nav-up {
  top: -59px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.nav-down {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

@media (max-width: 350px) {
  header.header .logo-row h1 {
    height: 55px;
    width: 140px;
    margin: 0 auto;
    position: relative;
    left: -15px; } }
@media (max-width: 768px) {
  header.header {
    height: 59px; }
    header.header .logo-row h1 {
      height: 55px;
      width: 140px;
      margin: 0 auto; }
    header.header .icons-wrapper {
      padding-left: 0px; }
      header.header .icons-wrapper ul.icons-row {
        height: auto;
        padding-top: 18px; }
        header.header .icons-wrapper ul.icons-row li {
          padding-left: 0; }
          header.header .icons-wrapper ul.icons-row li.search-target {
            float: left;
            position: absolute;
            right: 55px; }
    header.header .hamburgerIcon-m {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      width: 50px;
      height: 50px;
      opacity: 1; }
      header.header .hamburgerIcon-m .nav-icon {
        top: 19px;
        left: 20px;
        width: 25px; }
        header.header .hamburgerIcon-m .nav-icon span {
          height: 4px; }
        header.header .hamburgerIcon-m .nav-icon span:nth-child(2), header.header .hamburgerIcon-m .nav-icon span:nth-child(3) {
          top: 8px; }
        header.header .hamburgerIcon-m .nav-icon span:nth-child(4) {
          top: 16px; }
    header.header #searchCollapse .well {
      padding-top: 4px; }
    header.header #searchCollapse .search-row button.search-submit-btn {
      right: 11px;
      top: 1px; } }
@media (min-width: 769px) and (max-width: 991px) {
  header.header .container {
    width: 100%; }
    header.header .container .prodbtn-row {
      padding-left: 15px;
      padding-right: 15px; }
    header.header .container .logo-row h1 {
      height: 65px;
      width: 170px;
      margin: 0 auto; } }
