/*Grid Expansion STARTS HERE------------------------------------------------------
Expand 960px grid to 1200px grid
grid.css*/
.container {width:1190px;margin:0 auto;}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24, .span-25, .span-26, .span-27, .span-28, .span-29, .span-30 {float:left; margin-right: 10px;}
.span-24 {width:950px;}
.span-25 {width:990px;}
.span-26 {width:1030px;}
.span-27 {width:1070px;}
.span-28 {width:1110px;}
.span-29 {width:1150px;}
.span-30 {width:1190px; margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24, input.span-25, textarea.span-25, input.span-26, textarea.span-26, input.span-27, textarea.span-27, input.span-28, textarea.span-28, input.span-29, textarea.span-29, input.span-30, textarea.span-30 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.span-25, textarea.span-25 {width:978px;}
input.span-26, textarea.span-26 {width:1018px;}
input.span-27, textarea.span-27 {width:1058px;}
input.span-28, textarea.span-28 {width:1098px;}
input.span-29, textarea.span-29 {width:1138px;}
input.span-30, textarea.span-30 {width:1178px;}
.append-24 {padding-right:960px;}
.append-25 {padding-right:1000px;}
.append-26 {padding-right:1040px;}
.append-27 {padding-right:1080px;}
.append-28 {padding-right:1120px;}
.append-29 {padding-right:1160px;}
.prepend-24 {padding-left:960px;}
.prepend-25 {padding-left:1000px;}
.prepend-26 {padding-left:1040px;}
.prepend-27 {padding-left:1080px;}
.prepend-28 {padding-left:1120px;}
.prepend-29 {padding-left:1160px;}
.pull-25 {margin-left:-1000px;}
.pull-26 {margin-left:-1040px;}
.pull-27 {margin-left:-1080px;}
.pull-28 {margin-left:-1120px;}
.pull-29 {margin-left:-1160px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24, .pull-25, .pull-26, .pull-27, .pull-28, .pull-29 {float:left;position:relative;}
.push-25 {margin:0 -1000px 1.5em 1000px;}
.push-26 {margin:0 -1040px 1.5em 1040px;}
.push-27 {margin:0 -1080px 1.5em 1080px;}
.push-28 {margin:0 -1120px 1.5em 1120px;}
.push-29 {margin:0 -1160px 1.5em 1160px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24, .push-25, .push-26, .push-27, .push-28, .push-29 {float:left;position:relative;}


/*Expand 960px grid to 1200px grid------------------------------------------------------
Grid Expansion ENDS HERE -----------------------------------------------------------*/

.addMarketingItems {display: none;}
#spanProdDesc {margin-right: 0 !important;}
#spanTotals {margin-right: 0;}
#spanTotals.span8 {
  width: 268px !important;
}

.customAccount {
  margin-right: -20px;
}

.accountContentPane {
  margin-right: -20px;
}

/*RESPONSIVE START LARGE DESKTOP*/
@media screen and (min-width: 1224px)  {


  /*--------------
  Common and Homepage Start Here -------------------------------------------------------
  --------------*/

  #page {
      margin: 0 auto;
      padding: 0 5px;
      width: 1190px;
  }

  .header-content {
      float: right;
      width: 1046px;
  }

  .header-content-row2 {
      float: left;
      height: 28px;
      line-height: 29px;
      margin-left: 100px;
      padding-top: 15px;
      position: relative;
      top: 10px;
  }

  #content-inner {
      float: left;
      margin-top: 20px;
      width: 1190px;
  }

  .logged-in {
      background-color: #f4f4f4;
      border-top: 5px solid #ec6500;
      display: block;
      float: left;
      padding: 10px 15px;
      width: 285px;
  }

  .shop-all-products {
      border: 0 solid red;
      float: left;
      padding-left: 20px;
      width: 854px;
  }


  .left.sub-title.col-1-homePage {
      height: 100px;
      margin-left: 20px;
      width: 271px;
      background-color: #F4F4F4;
  }

  .row div:first-child {
    margin-left: 0 !important;
  }

  .row div:last-child {
    margin-right: 0 !important;
  }

  #slider1 .viewport {
  float: left;
  width: 1200px;
  overflow: hidden;
  position: relative;
  margin-left: -2px;
  z-index: auto;
  }

  .disp-img.slideWide {
    margin-left: 0 !important;
  }

  .navigation_search {
      float: left;
      width: 540px;
  }

  .siteSearch .control-group {
      width: 540px;
  }

  .navigation_search .siteSearchInput {
      width: 520px !important;
      border-radius: 4px;
      height: 36px !important;
      margin-bottom: 0px !important;
      margin-top: 2px;
      border: medium none;
  }

  .navigation_login {
      float: left;
      width: 180px;
      top: 5px;
      position: relative;
      left: 140px;
  }

  .homepage-account-detail {
      display: block;
      margin-bottom: 5px;
      width: 285px;
  }

  .addMarketingItems {display: block;}


  /*--------------
  Common and Homepage Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/



  /*--------------
  Product List by Category Starts Here -------------------------------------------------------
  --------------*/

  .disp-img {
    width: 840px;
    margin-left: 340px;
  }
  .disp-img img {
    border: 1px solid black;
  }

  .action img {
    border: none;
  }

  .left-panel.facetNavigation {
      width: 285px;
  }

  .searchInput {
    width: 250px;
    background-position: 224px 3px;
  }

  .facetNavigation .facet .facetHead .refinementToggle.close {
    background-position: right 9px;
  }

  .right-panel {
    width: 840px;
  }

  .brand-cat-col {
    background-color: #f4f4f4;
    margin: 10px 10px;
    width: 31.746%;
  }

  .brand-cat-col.first{
    margin-left: 0;
  }

  .brand-cat-col.last{
    margin-right: 0;
  }

  .width-compare {
    width: 486px;
  }

  .width-sort {
    width: 354px;
  }

  .sort-select {
    width: 195px;
    margin-right: 10px;
  }

  .select-sort {
    width: 193px;
    background-position: 172px center;
  }

  .select-sort select {
    width: 195px;
  }

  .col-2-compare {
      width: 310px;
  }

  .col-3-compare {
    width: 354px;
    float: right;
  }

  .price-description {
    width: 354px;
  }


  /*--------------
  Product List by Category Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/



  /*--------------
  Product Details Starts Here -------------------------------------------------------
  --------------*/

  .productDescription {
      width: 470px !important;
  }

  .productPrice {
    width: 345px !important;
  }


  /*--------------
  Product Details Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/



  /*--------------
  Shopping Cart Starts Here -------------------------------------------------------
  --------------*/

  .itemDetails-cart {
    padding-right: 50px !important;
  }

  .orderTotals-bg {
      float: right !important;
      margin-right: 0 !important;
  }


  /*--------------
  Shopping Cart Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/



  /*--------------
  Checkout Starts Here -------------------------------------------------------
  --------------*/
  .top-section1 {
      width: 326px;
  }

  .top-section2 {
      width: 301px;
  }

  .top-section3 {
      width: 276px;
  }

  .top-section4 {
      width: 287px;
  }

  .span20.width810 {
    width: 810px !important;
  }

  /*--------------
  Checkout Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/



  /*--------------
  My Account Starts Here -------------------------------------------------------
  --------------*/

.customAccount {
  width: 935px;
}

.customAccount .yourAccountTile {
  width: 360px;
  margin-right: 60px;
}

.Add-rightpanel {
  margin-right: -20px;
}


  /*--------------
  My Account Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/


  /*--------------
  My Profile Starts Here -------------------------------------------------------
  --------------*/

.Add-rightpanel {
  width: 925px;
}


  /*--------------
  My Profile Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/

  /*--------------
  Download Area Starts Here -------------------------------------------------------
  --------------*/

.accountContentPane {
  width: 930px;
}


  /*--------------
  Download Area Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/

  /*--------------
  Order History Starts Here -------------------------------------------------------
  --------------*/

.OrderHistory .Order-rightpanel {
  width: 955px;
}

.OrderHistory .orderInformation td:first-child {
  width: 321px;
}

.OrderHistory .orderInformation .com-col-1 {
  width: 169px;
}

.OrderHistory .orderInformation .com-col-2 {
  width: 215px;
}

.OrderHistory .orderInformation .com-col-3 {
  width: 175px;
}

.OrderHistory .orderInformation .com-col-4 {
  width: 70px;
}


  /*--------------
  Order History Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/


  /*--------------
  My Favorites Starts Here -------------------------------------------------------
  --------------*/

  .Myjoblist .Joblist-rightpanel {
    width: 960px;
  }

  .Myjoblist .joblistInformation td:first-child {
    width: 240px;
  }

  .Myjoblist .joblistInformation .com-col-1 {
    width: 261px;
  }

  .Myjoblist .joblistInformation .com-col-2 {
    width: 131px;
  }

  .Myjoblist .joblistInformation .com-col-3 {
    width: 123px;
  }

  .Myjoblist .joblistInformation .com-col-4 {
    width: 155px;
  }

  /*--------------
  My Favorites Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/

  /*--------------
  Suppliers Starts Here -------------------------------------------------------
  --------------*/

#c1034 img {
  width: 1190px; height: auto;
}

#supplierContentCont {
  width: 1190px;
  margin-top: 20px;
}

#supplierContentCont p {
  width: 960px;
}

.tx-virtualways-suppliers ul li   {
  margin-right: 20px;
  margin-top: 20px;
}
  /*--------------
  Suppliers Ends Here -------------------------------------------------------
  ------------------------------------------------------------------------------------*/



}
/*RESPONSIVE END LARGE DESKTOP*/
